.search {
  text-align: center;
  max-width: 60%;
  position: fixed !important;
  top: 70px;
  z-index: 1;
  border-radius: 40px;
  border-block: 10px solid #582259;
  justify-content: space-between;
  background-color: #582259;
}

.search input {
  border-radius: 40px;
  margin-right: 10px !important;
  height: 30px;
  padding-left: 10px;
  max-width: 60%;
}

.search select {
  margin-right: 10px !important;
  height: 30px;
  padding: 0;
}

.search .searchSubmit {
  background-color: #582259;
  color: white;
  border-radius: 40px;
  height: 30px;
  max-width: 30%;
}

.allProducts select {
  background-color: #582259;
  color: white;
  border-radius: 10px;

  height: 50px;
  text-align: center;

  position: fixed !important;
  top: 70px;
  right: 5%;
  z-index: 1;

  justify-content: space-between;
  background-color: #582259;
}

.allProducts {
  margin-top: 130px;
}
.allProducts .card {
  border-radius: 15px !important;
  max-height: 900px;
}
.allProducts img {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.pagination {
  justify-content: space-evenly;
  height: 150px;
  align-items: center;
}
.pagination button {
  background: white;
  border-radius: 20px;
  height: 50px;
}

.card {
  height: auto !important;
}

.card img {
  height: 400px !important;
  object-fit: cover;
}
